<!DOCTYPE html>
<html>
	<head>
		<title> Orders</title>
	</head>
	<body>
		<h3>Please, kindly prepare these orders for me</h3>
	<form method="post" action="/welcome/make_order">
		<table>
			<tr>
				<td><label for ="table_no"> Table No.:</label></td>
				<td><input type="text" name="table_no"></td>
			</tr>
			<tr>
				<td><label for ="waiter_name"> Waiter's Name:</label></td>
				<td><input type="text" name="waiter_name"></td>
			</tr>
			<tr>
				<td><label for ="order"> Order:</label></td>
				<td><input type="text" name="order"></td>
			</tr>
			<tr>
				<td><input type="submit"></td>
			</tr>
		</table>

		</form>
	
</body>
</html>