<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Contact me</title>
	</head>
	<body>
		<h1>Contact me:</h1>
		<form method="post" action="/cv/create">
		<table>
			<tr>
				<td><label for="email">E-mail:</label></td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td><label for="content">Enter your message here:</label></td>
				<td><input type="text" name="content"></td>
			</tr>
			<tr>
				<td><input type="submit"></td>
			</tr>
		</table>
		
	</form>
	<div><a href="/cv"> Get back to My CV</a></div>
	
</body>
</html>