<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
	<title>Curriculum Vitae</title>
</head>
<body style="background-color:powderblue;">
<h1> <center><u>CURRICLUM VITAE</u></h1>

<table>
	<tr><td><b><u>BioData/Personal Details</u></b><td></tr>
	<tr>
		<td>Name            : Wycliffe Opande Odhiambo<br>
			Gender          : Male<br>
			Date of Birth   : 29th November, 2016<br>
			ID No.          : 25250170<br>
			Passport No     : B012297<br>
			Marital Status  : Single<br>
			Nationality     : Kenyan<br>
			Religion        : Christianity<br>
			Languages Spoken: Dholuo, Swahili, and English<br>
			Cell phone No(s): (+254) 726584295<br>
			E-mail          : wopande@gmail.com
		</td>
	</tr>
	<tr></tr>
	<tr>
		<td><b><u>Personal Attributes</u></b>
		</td>
	</tr>
	<tr>
		<td>Self-motivated and ambitious individual with high critical analysis and problem solving and communication skills. I am also rich in interpersonal skills and enjoy working in a free atmosphere with room for team playing. I prioritize tasks assigned and meet deadlines, good judgment in problem solving and taking responsibility for actions, strong internal motivation and awareness of own limitations. Ability to identify and resolve problems and performing quality assurance procedures in practice. I am tolerant to all spheres of life including religion, race, gender and nature of life
		</td>
	</tr>
	<tr>
		<td>
			<b><u>Career Objective</u></b>
		</td>
	</tr>
	<tr>
		<td>To implement develop the knowledge and skills acquired during my training in a challenging working environment and be a full-time expert in computer technology and be part of transforming humanity by bridging the digital divide.
		</td>
	</tr>
	<tr>
		<td>
			<b><u>Education and Training</u></b>
		</td>
	</tr>
		</tr>
	<tr>
		<td>T
		</td>
	</tr>
</table>
<


<a href="/cv/contact">Contact Me </a>

</body>
</html>